@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root{
    --paddin: 20px;
    --font-numbers:'Josefin Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    font-style: none;
    list-style: none;
    text-decoration: none;
}   

body {
    font-family: 'Playfair Display', serif;
}

.container-title-megasena {
    text-align: center;
    display: flex;
    border: 1px solid black;
    background-color: rgb(237, 205, 250)  ;
    flex-direction: column;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;
}

.container-numbers-part1 ol li{
    display: inline-block;
    border: 2px solid rgb(17, 0, 0);
    margin: 5px;
    padding: 20px;
    border-radius: 50px;
    font-size: 2em;
    font-weight: 800;
    background-color: rgb(247, 214, 255);
    font-family: var(--font-numbers);
}

.container-numbers-part1 {
    text-align: center;
}

.container-numbers-part2 ol li{
    display: inline-block;
    border: 2px solid rgb(17, 0, 0);
    margin: 5px;
    padding: 20px;
    border-radius: 50px;
    font-size: 2em;
    font-weight: 800;
    background-color: rgb(247, 214, 255);
    font-family: var(--font-numbers);
}

.container-numbers-part2 {
    text-align: center;
}

.container-numbers-part3 ol li{
    display: inline-block;
    border: 2px solid rgb(17, 0, 0);
    margin: 5px;
    padding: var(--paddin);
    border-radius: 50px;
    font-size: 2em;
    font-weight: 800;
    background-color: rgb(247, 214, 255);
    font-family: var(--font-numbers);
}

.container-numbers-part3 {
    text-align: center;
}

.container-main {
    text-align: center;
    align-items: center;
}

.container-content-numbers-person ol li{
    display: none;
    border: 2px solid rgb(17, 0, 0);
    margin: 5px;
    padding: 8px;
    border-radius: 50px;
    font-size: 2em;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}

.container-content-select-number {
    display: inline-block;
    font-size: 0.8em;
    margin: 5px;
    padding: 15px;
    border: 3px solid rgb(119, 0, 255);
    border-radius: 15px;
    background-color: rgb(245, 207, 247);
}

.container-content-select-number h2 {
    margin-bottom: 5px;
}

.container-content-select-number input, button {
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    max-width: 65px;
    border: 1px solid black;
}

.container-content-value-bet {
    display: inline-block;
    margin: 15px;
}

.container-content-value-bet input {
    padding: 7px;
    font-size: 1em;
    border-radius: 15px;
    border: 2px solid rgb(255, 0, 255);
}

.container-content-revelation {
    display: inline-block;
    font-size: 0.8em;
    margin: 5px;
    margin-bottom: 15px;
}

.container-content-revelation button {
    padding: 7px;
    border-radius: 15px;
    background-color: rgb(212, 0, 255);
}

.container-content-revelation button:hover{
    padding: 9px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 3px solid rgb(255, 5, 255);
}

.container-social-networks {
    font-size: 1.2em;
    background-color: rgb(242, 188, 245);
    text-align: center;
    border: 1px solid black;
}

.container-social-networks-list ol li {
    font-weight: 700;
    display: inline-block;
    padding: 0px 5px;
}

.link-icon {
    height: 24px;
    width: 24px;
}